In [15]:
import pandas as pd
import featuretools as ft

In [19]:
data = pd.read_csv('preprocessed1.csv',index_col='id')
data.head()

,price,amount,sell,date,time,hours,minutes,seconds,hour_minute
id,,,,,,,,,
183601815,7349.60000,0.004568,False,2/2/18,2:00:08,2,0,8,2:00
183601825,7354.68045,0.010000,True,2/2/18,2:00:09,2,0,9,2:00
183601823,7354.68045,0.004568,True,2/2/18,2:00:09,2,0,9,2:00
183601833,7354.60000,0.102395,False,2/2/18,2:00:10,2,0,10,2:00
183601904,7343.40750,0.086580,False,2/2/18,2:00:26,2,0,26,2:00

In [18]:
es = ft.EntitySet('stock')
es.entity_from_dataframe(entity_id="stock",
                         dataframe=data,
                         index="id",
                         time_index='date',
                         )
es['stock'].df

2018-07-01 14:46:43,587 featuretools.entityset - WARNING    index id not found in dataframe, creating new integer column

,id,price,amount,sell,date,time,hours,minutes,seconds,hour_minute
0,0,7349.600000,0.004568,False,2018-02-02,2018-07-01 02:00:08,2,0,8,2018-07-01 02:00:00
1,1,7354.680450,0.010000,True,2018-02-02,2018-07-01 02:00:09,2,0,9,2018-07-01 02:00:00
2,2,7354.680450,0.004568,True,2018-02-02,2018-07-01 02:00:09,2,0,9,2018-07-01 02:00:00
3,3,7354.600000,0.102395,False,2018-02-02,2018-07-01 02:00:10,2,0,10,2018-07-01 02:00:00
4,4,7343.407500,0.086580,False,2018-02-02,2018-07-01 02:00:26,2,0,26,2018-07-01 02:00:00
5,5,7343.807250,0.204920,False,2018-02-02,2018-07-01 02:00:26,2,0,26,2018-07-01 02:00:00
6,6,7356.000000,0.300000,False,2018-02-02,2018-07-01 02:00:38,2,0,38,2018-07-01 02:00:00
7,7,7357.900000,0.088007,False,2018-02-02,2018-07-01 02:00:38,2,0,38,2018-07-01 02:00:00
8,8,7355.800000,0.100000,False,2018-02-02,2018-07-01 02:00:38,2,0,38,2018-07-01 02:00:00
9,9,7343.167650,0.088007,False,2018-02-02,2018-07-01 02:00:39,2,0,39,2018-07-01 02:00:00
10,10,7352.281950,0.002000,True,2018-02-02,2018-07-01 02:01:15,2,1,15,2018-07-01 02:01:00
11,11,7351.320200,0.300000,True,2018-02-02,2018-07-01 02:01:55,2,1,55,2018-07-01 02:01:00
12,12,7351.320200,0.300000,True,2018-02-02,2018-07-01 02:01:55,2,1,55,2018-07-01 02:01:00
13,13,7348.321701,0.300000,True,2018-02-02,2018-07-01 02:01:55,2,1,55,2018-07-01 02:01:00
14,14,7339.326204,0.300000,True,2018-02-02,2018-07-01 02:01:55,2,1,55,2018-07-01 02:01:00
15,15,7344.323702,0.300000,True,2018-02-02,2018-07-01 02:01:55,2,1,55,2018-07-01 02:01:00
16,16,7339.825954,0.100000,True,2018-02-02,2018-07-01 02:01:55,2,1,55,2018-07-01 02:01:00
17,17,7338.854490,0.004885,True,2018-02-02,2018-07-01 02:02:00,2,2,0,2018-07-01 02:02:00
18,18,7338.934400,0.070000,False,2018-02-02,2018-07-01 02:02:07,2,2,7,2018-07-01 02:02:00
19,19,7340.372780,0.202579,False,2018-02-02,2018-07-01 02:02:07,2,2,7,2018-07-01 02:02:00
20,20,7339.653590,0.400000,False,2018-02-02,2018-07-01 02:02:07,2,2,7,2018-07-01 02:02:00
21,21,7338.934400,0.021287,False,2018-02-02,2018-07-01 02:02:07,2,2,7,2018-07-01 02:02:00
22,22,7339.653590,0.600000,False,2018-02-02,2018-07-01 02:02:07,2,2,7,2018-07-01 02:02:00
23,23,7361.900000,0.599912,False,2018-02-02,2018-07-01 02:02:11,2,2,11,2018-07-01 02:02:00
24,24,7339.900000,0.171953,True,2018-02-02,2018-07-01 02:02:19,2,2,19,2018-07-01 02:02:00
25,25,7339.900000,0.420000,True,2018-02-02,2018-07-01 02:02:21,2,2,21,2018-07-01 02:02:00
26,26,7339.893320,0.241449,False,2018-02-02,2018-07-01 02:02:36,2,2,36,2018-07-01 02:02:00
27,27,7334.700000,1.000000,True,2018-02-02,2018-07-01 02:04:31,2,4,31,2018-07-01 02:04:00
28,28,7311.765000,0.591953,True,2018-02-02,2018-07-01 02:05:02,2,5,2,2018-07-01 02:05:00
29,29,7300.000000,0.010000,True,2018-02-02,2018-07-01 02:05:15,2,5,15,2018-07-01 02:05:00
...,...,...,...,...,...,...,...,...,...,...
15685,15685,7151.289936,0.020000,True,2018-02-03,2018-07-01 01:54:35,1,54,35,2018-07-01 01:54:00
15686,15686,7151.209666,0.392500,True,2018-02-03,2018-07-01 01:54:35,1,54,35,2018-07-01 01:54:00
15687,15687,7151.209666,0.600000,True,2018-02-03,2018-07-01 01:54:35,1,54,35,2018-07-01 01:54:00
15688,15688,7151.000000,0.784800,False,2018-02-03,2018-07-01 01:54:36,1,54,36,2018-07-01 01:54:00
15689,15689,7153.457237,0.002970,True,2018-02-03,2018-07-01 01:55:06,1,55,6,2018-07-01 01:55:00
15690,15690,7148.000000,0.321677,False,2018-02-03,2018-07-01 01:56:04,1,56,4,2018-07-01 01:56:00
15691,15691,7140.373162,0.004848,False,2018-02-03,2018-07-01 01:56:23,1,56,23,2018-07-01 01:56:00
15692,15692,7140.373162,0.004708,False,2018-02-03,2018-07-01 01:56:23,1,56,23,2018-07-01 01:56:00
15693,15693,7140.373162,0.106910,False,2018-02-03,2018-07-01 01:56:23,1,56,23,2018-07-01 01:56:00
15694,15694,7140.373162,0.087147,False,2018-02-03,2018-07-01 01:56:23,1,56,23,2018-07-01 01:56:00
15695,15695,7140.373162,0.046387,False,2018-02-03,2018-07-01 01:56:23,1,56,23,2018-07-01 01:56:00
15696,15696,7131.100000,0.144122,False,2018-02-03,2018-07-01 01:56:53,1,56,53,2018-07-01 01:56:00
15697,15697,7131.100000,0.010000,False,2018-02-03,2018-07-01 01:56:54,1,56,54,2018-07-01 01:56:00
15698,15698,7124.000000,1.500000,True,2018-02-03,2018-07-01 01:57:00,1,57,0,2018-07-01 01:57:00
15699,15699,7123.275566,0.154769,False,2018-02-03,2018-07-01 01:57:09,1,57,9,2018-07-01 01:57:00
15700,15700,7140.500000,0.100000,False,2018-02-03,2018-07-01 01:58:05,1,58,5,2018-07-01 01:58:00
15701,15701,7140.300000,0.099993,False,2018-02-03,2018-07-01 01:58:05,1,58,5,2018-07-01 01:58:00
15702,15702,7141.000000,0.100000,False,2018-02-03,2018-07-01 01:58:07,1,58,7,2018-07-01 01:58:00
15703,15703,7145.200000,0.077792,False,2018-02-03,2018-07-01 01:58:10,1,58,10,2018-07-01 01:58:00
15704,15704,7151.100000,0.006111,False,2018-02-03,2018-07-01 01:58:11,1,58,11,2018-07-01 01:58:00
15705,15705,7150.900000,0.100000,False,2018-02-03,2018-07-01 01:58:11,1,58,11,2018-07-01 01:58:00
15706,15706,7142.000000,1.687097,True,2018-02-03,2018-07-01 01:58:44,1,58,44,2018-07-01 01:58:00
15707,15707,7142.000000,0.939920,True,2018-02-03,2018-07-01 01:58:45,1,58,45,2018-07-01 01:58:00
15708,15708,7126.100000,0.106258,True,2018-02-03,2018-07-01 01:58:53,1,58,53,2018-07-01 01:58:00
15709,15709,7130.400000,0.100000,True,2018-02-03,2018-07-01 01:58:53,1,58,53,2018-07-01 01:58:00
15710,15710,7123.500000,0.100000,True,2018-02-03,2018-07-01 01:58:58,1,58,58,2018-07-01 01:58:00
15711,15711,7128.172061,0.030500,True,2018-02-03,2018-07-01 01:59:17,1,59,17,2018-07-01 01:59:00
15712,15712,7134.433152,0.024440,False,2018-02-03,2018-07-01 01:59:22,1,59,22,2018-07-01 01:59:00
15713,15713,7136.199101,0.010000,True,2018-02-03,2018-07-01 01:59:33,1,59,33,2018-07-01 01:59:00
15714,15714,7136.200000,0.006030,True,2018-02-03,2018-07-01 01:59:33,1,59,33,2018-07-01 01:59:00

In [13]:
data.drop(['Unnamed: 0'])
feature_matrix = pd.read_csv('preprocessed1.csv', 
                             index_col='id')
features = feature_matrix.columns.values

KeyError: "labels ['Unnamed: 0'] not contained in axis"

In [10]:
print (feature_matrix)

print(features)

           Unnamed: 0        price    amount   sell        date      time  \
id
183601815           0  7349.600000  0.004568  False  2018-02-02  02:00:08
183601825           1  7354.680450  0.010000   True  2018-02-02  02:00:09
183601823           2  7354.680450  0.004568   True  2018-02-02  02:00:09
183601833           3  7354.600000  0.102395  False  2018-02-02  02:00:10
183601904           4  7343.407500  0.086580  False  2018-02-02  02:00:26
183601906           5  7343.807250  0.204920  False  2018-02-02  02:00:26
183602055           6  7356.000000  0.300000  False  2018-02-02  02:00:38
183602057           7  7357.900000  0.088007  False  2018-02-02  02:00:38
183602052           8  7355.800000  0.100000  False  2018-02-02  02:00:38
183602064           9  7343.167650  0.088007  False  2018-02-02  02:00:39
183602333          10  7352.281950  0.002000   True  2018-02-02  02:01:15
183602610          11  7351.320200  0.300000   True  2018-02-02  02:01:55
183602612          12  7351.320200  0.300000   True  2018-02-02  02:01:55
183602618          13  7348.321701  0.300000   True  2018-02-02  02:01:55
183602629          14  7339.326204  0.300000   True  2018-02-02  02:01:55
183602624          15  7344.323702  0.300000   True  2018-02-02  02:01:55
183602627          16  7339.825954  0.100000   True  2018-02-02  02:01:55
183602676          17  7338.854490  0.004885   True  2018-02-02  02:02:00
183602733          18  7338.934400  0.070000  False  2018-02-02  02:02:07
183602739          19  7340.372780  0.202579  False  2018-02-02  02:02:07
183602735          20  7339.653590  0.400000  False  2018-02-02  02:02:07
183602731          21  7338.934400  0.021287  False  2018-02-02  02:02:07
183602737          22  7339.653590  0.600000  False  2018-02-02  02:02:07
183602772          23  7361.900000  0.599912  False  2018-02-02  02:02:11
183602835          24  7339.900000  0.171953   True  2018-02-02  02:02:19
183602844          25  7339.900000  0.420000   True  2018-02-02  02:02:21
183602895          26  7339.893320  0.241449  False  2018-02-02  02:02:36
183603483          27  7334.700000  1.000000   True  2018-02-02  02:04:31
183604043          28  7311.765000  0.591953   True  2018-02-02  02:05:02
183604261          29  7300.000000  0.010000   True  2018-02-02  02:05:15
...               ...          ...       ...    ...         ...       ...
185088490       15685  7151.289936  0.020000   True  2018-02-03  01:54:35
185088492       15686  7151.209666  0.392500   True  2018-02-03  01:54:35
185088494       15687  7151.209666  0.600000   True  2018-02-03  01:54:35
185088507       15688  7151.000000  0.784800  False  2018-02-03  01:54:36
185088721       15689  7153.457237  0.002970   True  2018-02-03  01:55:06
185089418       15690  7148.000000  0.321677  False  2018-02-03  01:56:04
185089519       15691  7140.373162  0.004848  False  2018-02-03  01:56:23
185089521       15692  7140.373162  0.004708  False  2018-02-03  01:56:23
185089525       15693  7140.373162  0.106910  False  2018-02-03  01:56:23
185089517       15694  7140.373162  0.087147  False  2018-02-03  01:56:23
185089523       15695  7140.373162  0.046387  False  2018-02-03  01:56:23
185089729       15696  7131.100000  0.144122  False  2018-02-03  01:56:53
185089740       15697  7131.100000  0.010000  False  2018-02-03  01:56:54
185089799       15698  7124.000000  1.500000   True  2018-02-03  01:57:00
185089846       15699  7123.275566  0.154769  False  2018-02-03  01:57:09
185090070       15700  7140.500000  0.100000  False  2018-02-03  01:58:05
185090067       15701  7140.300000  0.099993  False  2018-02-03  01:58:05
185090085       15702  7141.000000  0.100000  False  2018-02-03  01:58:07
185090106       15703  7145.200000  0.077792  False  2018-02-03  01:58:10
185090112       15704  7151.100000  0.006111  False  2018-02-03  01:58:11
185090110       15705  7150.900000  0.100000  False  2018-02-03  01:58:11
185090357       15706  7142.000000  1.687097   True  2018-02-03  01:58:44
185090361       15707  7142.000000  0.939920   True  2018-02-03  01:58:45
185090429       15708  7126.100000  0.106258   True  2018-02-03  01:58:53
185090427       15709  7130.400000  0.100000   True  2018-02-03  01:58:53
185090480       15710  7123.500000  0.100000   True  2018-02-03  01:58:58
185090657       15711  7128.172061  0.030500   True  2018-02-03  01:59:17
185090708       15712  7134.433152  0.024440  False  2018-02-03  01:59:22
185090729       15713  7136.199101  0.010000   True  2018-02-03  01:59:33
185090748       15714  7136.200000  0.006030   True  2018-02-03  01:59:33

           hours  minutes  seconds hour_minute
id
183601815      2        0        8       02:00
183601825      2        0        9       02:00
183601823      2        0        9       02:00
183601833      2        0       10       02:00
183601904      2        0       26       02:00
183601906      2        0       26       02:00
183602055      2        0       38       02:00
183602057      2        0       38       02:00
183602052      2        0       38       02:00
183602064      2        0       39       02:00
183602333      2        1       15       02:01
183602610      2        1       55       02:01
183602612      2        1       55       02:01
183602618      2        1       55       02:01
183602629      2        1       55       02:01
183602624      2        1       55       02:01
183602627      2        1       55       02:01
183602676      2        2        0       02:02
183602733      2        2        7       02:02
183602739      2        2        7       02:02
183602735      2        2        7       02:02
183602731      2        2        7       02:02
183602737      2        2        7       02:02
183602772      2        2       11       02:02
183602835      2        2       19       02:02
183602844      2        2       21       02:02
183602895      2        2       36       02:02
183603483      2        4       31       02:04
183604043      2        5        2       02:05
183604261      2        5       15       02:05
...          ...      ...      ...         ...
185088490      1       54       35       01:54
185088492      1       54       35       01:54
185088494      1       54       35       01:54
185088507      1       54       36       01:54
185088721      1       55        6       01:55
185089418      1       56        4       01:56
185089519      1       56       23       01:56
185089521      1       56       23       01:56
185089525      1       56       23       01:56
185089517      1       56       23       01:56
185089523      1       56       23       01:56
185089729      1       56       53       01:56
185089740      1       56       54       01:56
185089799      1       57        0       01:57
185089846      1       57        9       01:57
185090070      1       58        5       01:58
185090067      1       58        5       01:58
185090085      1       58        7       01:58
185090106      1       58       10       01:58
185090112      1       58       11       01:58
185090110      1       58       11       01:58
185090357      1       58       44       01:58
185090361      1       58       45       01:58
185090429      1       58       53       01:58
185090427      1       58       53       01:58
185090480      1       58       58       01:58
185090657      1       59       17       01:59
185090708      1       59       22       01:59
185090729      1       59       33       01:59
185090748      1       59       33       01:59

[15715 rows x 10 columns]
['Unnamed: 0' 'price' 'amount' 'sell' 'date' 'time' 'hours' 'minutes'
 'seconds' 'hour_minute']